{
  "extends": "eslint-config-egg",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "arrowFunctions": true,
      "classes": true,
      "modules": true,
      "defaultParams": true
    },
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "linebreak-style": "off",
    "strict": "off",
    "valid-jsdoc": "off",
    "space-before-function-paren": "off",
    "no-multi-spaces": "off",
    "no-alert": "off",
    "indent": [
      "warn",
      2
    ],
    "semi": [
      "warn",
      "never"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "array-bracket-spacing": [
      "warn",
      "never"
    ],
    "sort-imports": [
      "warn",
      {
        "memberSyntaxSortOrder": [
          "single",
          "all",
          "multiple",
          "none"
        ]
      }
    ]
  }
}
